html,
body {
  height: 100%;
  background-color: rgb(41, 148, 160);
}

body {
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(1, 9, 73);
}

.cover-container {
  width: 50%;
}
.cover-heading {
  font-size: 6rem !important;
  padding-top: 10% !important;
}
.navbar-brand {
  padding-left: 15px;
  font-size: 1.5rem !important;
}
#navbarNav {
  font-size: 1.5rem !important;
}
.navbar {
  background-color: rgb(41, 148, 160);
}
.container h1 {
  padding-top: 20%;
  padding-bottom: 5%;
  font-family: "Great Vibes", cursive;
  font-size: 5em;
}
.container a {
  margin-top: 5%;
}
.container p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem !important;
}

.container p::first-letter {
  padding-left: 10px;
  font-family: "Parisienne", cursive;
  font-size: 2em;
}
@media only screen and (max-width: 650px) {
  .cover-container {
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .cover-container {
    width: 100%;
  }
}
@media only screen and (min-width: 1300px) {
  .navbar-brand,
  #navbarNav {
    font-size: 2rem;
  }
}
